extends layout
block content
  h1= title
  - let cakesid = toShow._id
  - let name = toShow.name
  - let flavors = toShow.flavors
  - let price = toShow.price
  div
    div.row
      div(class='cakesAttr mr-3') Cakes ID is:
      div #{cakesid}
    div.row
      div(class='cakesAttr mr-3') Cakes name is:
      div #{name}
    div.row
      div(class='cakesAttr mr-3') Cakes flavors is:
      div #{flavors}
    div.row
      div(class='cakesAttr mr-3') Cakes price is:
      div #{price}
